Repository Kros-sk/Kros.Libs, pull requests merged in 2018-05, with the labels that each got.

#61 Headers on welcome page become links.
  docs/index.html
  docs/index.json
  docs/manifest.json
Labels: documentation

#67 Added missing check for Share Exclusive in MsAccessDataHelper.
  Kros.Utils/src/Kros.Utils.MsAccess/Data/MsAccessDataHelper.cs
Labels: area-Kros.Utils.MsAccess

#66 Deleted translation MsAccess to SqlServer syntax.
  Kros.KORM/src/Kros.KORM/Query/Providers/SqlServerQueryProviderFactory.cs
  Kros.KORM/src/Kros.KORM/Query/Sql/DefaultQuerySqlGenerator.cs
  Kros.KORM/src/Kros.KORM/Query/Sql/SqlServerQuerySqlGenerator.cs
  Kros.KORM/tests/Kros.KORM.UnitTests/CommandGenerator/CommandGeneratorShould.cs
  Kros.KORM/tests/Kros.KORM.UnitTests/Query/Providers/QueryProviderFactoriesShould.cs
  Kros.KORM/tests/Kros.KORM.UnitTests/Query/QueryShould.cs
  Kros.KORM/tests/Kros.KORM.UnitTests/Query/Sql/DefaultQuerySqlGeneratorShould.cs
  Kros.KORM/tests/Kros.KORM.UnitTests/Query/Sql/LinqTranslatorTestBase.cs
  Kros.KORM/tests/Kros.KORM.UnitTests/Query/Sql/SqlServerQuerySqlGeneratorShould.cs
Labels: area-Kros.KORM

#58 Translated BulkActions folder.
  Kros.Utils/src/Kros.Utils/Data/BulkActions/BulkActionDataReader.cs
  Kros.Utils/src/Kros.Utils/Data/BulkActions/BulkUpdateBase.cs
  Kros.Utils/src/Kros.Utils/Data/BulkActions/EnumerableDataReader.cs
  Kros.Utils/src/Kros.Utils/Data/BulkActions/IBulkActionDataReader.cs
  Kros.Utils/src/Kros.Utils/Data/BulkActions/IBulkInsert.cs
  Kros.Utils/src/Kros.Utils/Data/BulkActions/IBulkUpdate.cs
  Kros.Utils/src/Kros.Utils/Data/BulkActions/SqlServer/SqlServerBulkInsert.cs
  Kros.Utils/src/Kros.Utils/Data/BulkActions/SqlServer/SqlServerBulkUpdate.cs
Labels: documentation
