Repository Kros-sk/Kros.Libs, pull requests merged in 2018-06, with the labels that each got.

#97 Updated bug report link in Readme.
  README.md
Labels: documentation

#95 Strings moved from source code to resources
  Kros.Utils/src/Kros.Utils.MsAccess/Data/BulkActions/MsAccess/CsvFileWriter.cs
  Kros.Utils/src/Kros.Utils.MsAccess/Data/BulkActions/MsAccess/MsAccessBulkActionFactory.cs
  Kros.Utils/src/Kros.Utils.MsAccess/Data/BulkActions/MsAccess/MsAccessBulkInsert.cs
  Kros.Utils/src/Kros.Utils.MsAccess/Data/MsAccessDataHelper.cs
  Kros.Utils/src/Kros.Utils.MsAccess/Data/MsAccessIdGenerator.cs
  Kros.Utils/src/Kros.Utils.MsAccess/Data/MsAccessIdGeneratorFactory.cs
  Kros.Utils/src/Kros.Utils.MsAccess/Data/Schema/MsAccess/MsAccessParseDefaultValueEventArgs.cs
  Kros.Utils/src/Kros.Utils.MsAccess/Data/Schema/MsAccess/MsAccessSchemaLoader.cs
  Kros.Utils/src/Kros.Utils.MsAccess/Properties/Resources.Designer.cs
  Kros.Utils/src/Kros.Utils.MsAccess/Properties/Resources.resx
  Kros.Utils/src/Kros.Utils.MsAccess/UnitTests/MsAccessTestHelper.cs
  Kros.Utils/src/Kros.Utils/Data/BulkActions/BulkActionDataReader.cs
  Kros.Utils/src/Kros.Utils/Data/BulkActions/BulkActionFactories.cs
  Kros.Utils/src/Kros.Utils/Data/BulkActions/BulkUpdateBase.cs
  Kros.Utils/src/Kros.Utils/Data/BulkActions/EnumerableDataReader.cs
  Kros.Utils/src/Kros.Utils/Data/BulkActions/SqlServer/SqlServerBulkInsert.cs
  Kros.Utils/src/Kros.Utils/Data/BulkActions/SqlServer/SqlServerBulkUpdate.cs
  Kros.Utils/src/Kros.Utils/Data/IdGeneratorFactories.cs
  Kros.Utils/src/Kros.Utils/Data/Schema/ColumnSchemaCollection.cs
  Kros.Utils/src/Kros.Utils/Data/Schema/DatabaseSchemaCache.cs
  Kros.Utils/src/Kros.Utils/Data/Schema/DatabaseSchemaLoader.cs
  Kros.Utils/src/Kros.Utils/Data/Schema/ForeignKeySchemaCollection.cs
  Kros.Utils/src/Kros.Utils/Data/Schema/IndexColumnSchemaCollection.cs
  Kros.Utils/src/Kros.Utils/Data/Schema/IndexSchema.cs
  Kros.Utils/src/Kros.Utils/Data/Schema/IndexSchemaCollection.cs
  Kros.Utils/src/Kros.Utils/Data/Schema/SqlServer/SqlServerCacheKeyGenerator.cs
  Kros.Utils/src/Kros.Utils/Data/Schema/SqlServer/SqlServerSchemaLoader.cs
  Kros.Utils/src/Kros.Utils/Data/Schema/TableSchemaCollection.cs
  Kros.Utils/src/Kros.Utils/IO/PathFormatter.cs
  Kros.Utils/src/Kros.Utils/IO/PathHelper.cs
  Kros.Utils/src/Kros.Utils/Properties/Resources.Designer.cs
  Kros.Utils/src/Kros.Utils/Properties/Resources.resx
  Kros.Utils/src/Kros.Utils/UnitTests/SqlServerDatabaseTestBase.cs
  Kros.Utils/src/Kros.Utils/UnitTests/SqlServerTestHelper.cs
  Kros.Utils/tests/Kros.Utils.UnitTests/Data/BulkInsert/BulkActionFactoriesShould.cs
  Kros.Utils/tests/Kros.Utils.UnitTests/Data/IdGenerator/IdGeneratorFactoriesShould.cs
  Kros.Utils/tests/Kros.Utils.UnitTests/Utils/CheckShould.cs
Labels: area-Kros.Utils, area-Kros.Utils.MsAccess

#101 Support for .NET Core 2.1
  Kros.KORM/src/Kros.KORM.MsAccess/Properties/AssemblyInfo.cs
  Kros.KORM/src/Kros.KORM/Kros.KORM.csproj
  Kros.KORM/tests/Kros.KORM.MsAccess.UnitTests/Kros.KORM.MsAccess.UnitTests.csproj
  Kros.KORM/tests/Kros.KORM.MsAccess.UnitTests/packages.config
  Kros.KORM/tests/Kros.KORM.UnitTests/Kros.KORM.UnitTests.csproj
  Kros.KORM/tests/Kros.KORM.VB.UnitTests/Kros.KORM.VB.UnitTests.vbproj
  Kros.Utils/src/Kros.Utils.MsAccess/Properties/AssemblyInfo.cs
  Kros.Utils/src/Kros.Utils/Kros.Utils.csproj
  Kros.Utils/tests/Kros.Utils.MsAccess.UnitTests/Kros.Utils.MsAccess.UnitTests.csproj
  Kros.Utils/tests/Kros.Utils.MsAccess.UnitTests/packages.config
  Kros.Utils/tests/Kros.Utils.UnitTests/Kros.Utils.UnitTests.csproj
Labels: area-Kros.KORM, area-Kros.KORM.MsAccess, area-Kros.Utils, area-Kros.Utils.MsAccess

#107 Updated FluentAssertions to the latest version
  Kros.KORM/tests/Kros.KORM.MsAccess.UnitTests/Kros.KORM.MsAccess.UnitTests.csproj
  Kros.KORM/tests/Kros.KORM.MsAccess.UnitTests/app.config
  Kros.KORM/tests/Kros.KORM.MsAccess.UnitTests/packages.config
  Kros.KORM/tests/Kros.KORM.UnitTests/CommandGenerator/CommandGeneratorShould.cs
  Kros.KORM/tests/Kros.KORM.UnitTests/DatabaseShould.cs
  Kros.KORM/tests/Kros.KORM.UnitTests/Injection/InjectionConfigurationShould.cs
  Kros.KORM/tests/Kros.KORM.UnitTests/Integration/DbSetShould.cs
  Kros.KORM/tests/Kros.KORM.UnitTests/Integration/TransactionTests.cs
  Kros.KORM/tests/Kros.KORM.UnitTests/Integration/TransactionTests_BulkUpdate.cs
  Kros.KORM/tests/Kros.KORM.UnitTests/Kros.KORM.UnitTests.csproj
  Kros.KORM/tests/Kros.KORM.UnitTests/Materializer/MethodModelFactoryShould.cs
  Kros.KORM/tests/Kros.KORM.UnitTests/Metadata/TableInfoShould.cs
  Kros.KORM/tests/Kros.KORM.UnitTests/Query/DbSetShould.cs
  Kros.KORM/tests/Kros.KORM.UnitTests/Query/Providers/QueryProviderFactoriesShould.cs
  Kros.KORM/tests/Kros.KORM.UnitTests/Query/Providers/QueryProviderShould.cs
  Kros.KORM/tests/Kros.KORM.VB.UnitTests/Kros.KORM.VB.UnitTests.vbproj
  Kros.Utils/tests/Kros.Utils.MsAccess.UnitTests/Data/MsAccessDataHelperShould.cs
  Kros.Utils/tests/Kros.Utils.MsAccess.UnitTests/Kros.Utils.MsAccess.UnitTests.csproj
  Kros.Utils/tests/Kros.Utils.MsAccess.UnitTests/app.config
  Kros.Utils/tests/Kros.Utils.MsAccess.UnitTests/packages.config
  Kros.Utils/tests/Kros.Utils.UnitTests/Data/BulkInsert/BulkActionFactoriesShould.cs
  Kros.Utils/tests/Kros.Utils.UnitTests/Data/BulkInsert/EnumerableDataReaderShould.cs
  Kros.Utils/tests/Kros.Utils.UnitTests/Data/BulkInsert/SqlServerBulkInsertShould.cs
  Kros.Utils/tests/Kros.Utils.UnitTests/Data/IdGenerator/IdGeneratorFactoriesShould.cs
  Kros.Utils/tests/Kros.Utils.UnitTests/Extensions/StringExtensionsShould.cs
  Kros.Utils/tests/Kros.Utils.UnitTests/IO/PathHelperShould.cs
  Kros.Utils/tests/Kros.Utils.UnitTests/Kros.Utils.UnitTests.csproj
  Kros.Utils/tests/Kros.Utils.UnitTests/Utils/CheckShould.cs
Labels: area-Kros.KORM, area-Kros.KORM.MsAccess, area-Kros.Utils, area-Kros.Utils.MsAccess

#108 Added client ID System.Data.SqlClient
  Kros.KORM/src/Kros.KORM.MsAccess/Query/Providers/MsAccessQueryProviderFactory.cs
  Kros.KORM/src/Kros.KORM/Query/Providers/SqlServerQueryProviderFactory.cs
  Kros.KORM/tests/Kros.KORM.UnitTests/Integration/TransactionTests.cs
  Kros.KORM/tests/Kros.KORM.UnitTests/Integration/TransactionTests_BulkUpdate.cs
  Kros.KORM/tests/Kros.KORM.UnitTests/Query/Providers/QueryProviderFactoryShould.cs
  Kros.KORM/tests/Kros.KORM.UnitTests/Query/Providers/QueryProviderShould.cs
  Kros.Utils/src/Kros.Utils/Data/BulkActions/SqlServer/SqlServerBulkActionFactory.cs
  Kros.Utils/src/Kros.Utils/Data/IdGeneratorFactories.cs
  Kros.Utils/src/Kros.Utils/Data/SqlServer/SqlServerDataHelper.cs
  Kros.Utils/src/Kros.Utils/Data/SqlServer/SqlServerIdGeneratorFactory.cs
  Kros.Utils/tests/Kros.Utils.UnitTests/Data/BulkInsert/BulkActionFactoriesShould.cs
  Kros.Utils/tests/Kros.Utils.UnitTests/Data/IdGenerator/IdGeneratorFactoriesShould.cs
Labels: area-Kros.KORM, area-Kros.Utils

#113 Added string.Format() extensions.
  Kros.Utils/src/Kros.Utils/Extensions/StringExtensions.cs
  Kros.Utils/tests/Kros.Utils.UnitTests/Extensions/StringExtensionsShould.cs
Labels: area-Kros.Utils

#116 Strings moved to resources.
  Kros.KORM/src/Kros.KORM/CommandGenerator/CommandGenerator.cs
  Kros.KORM/src/Kros.KORM/Converter/IntToEnumConverter.cs
  Kros.KORM/src/Kros.KORM/Data/TransactionHelper.cs
  Kros.KORM/src/Kros.KORM/Database.cs
  Kros.KORM/src/Kros.KORM/Exceptions/AlreadyInCollectionException.cs
  Kros.KORM/src/Kros.KORM/Exceptions/CompositePrimaryKeyException.cs
  Kros.KORM/src/Kros.KORM/Exceptions/MissingPrimaryKeyException.cs
  Kros.KORM/src/Kros.KORM/Injection/InjectionConfiguration.cs
  Kros.KORM/src/Kros.KORM/Kros.KORM.csproj
  Kros.KORM/src/Kros.KORM/Metadata/Attribute/AliasAttribute.cs
  Kros.KORM/src/Kros.KORM/Metadata/Attribute/ConverterAttribute.cs
  Kros.KORM/src/Kros.KORM/Properties/Resources.Designer.cs
  Kros.KORM/src/Kros.KORM/Properties/Resources.resx
  Kros.KORM/src/Kros.KORM/Query/DbSet.cs
  Kros.KORM/src/Kros.KORM/Query/Expressions/ColumnsExpression.cs
  Kros.KORM/src/Kros.KORM/Query/Expressions/GroupByExpression.cs
  Kros.KORM/src/Kros.KORM/Query/Expressions/OrderByExpression.cs
  Kros.KORM/src/Kros.KORM/Query/Expressions/SelectExpression.cs
  Kros.KORM/src/Kros.KORM/Query/Expressions/SqlExpression.cs
  Kros.KORM/src/Kros.KORM/Query/Expressions/TableExpression.cs
  Kros.KORM/src/Kros.KORM/Query/Expressions/WhereExpression.cs
  Kros.KORM/src/Kros.KORM/Query/Providers/QueryProvider.cs
  Kros.KORM/src/Kros.KORM/Query/Providers/QueryProviderFactories.cs
  Kros.KORM/src/Kros.KORM/Query/Sql/DefaultQuerySqlGenerator.cs
  Kros.KORM/src/Kros.KORM/Query/Sql/ParameterExtractingExpressionVisitor.cs
Labels: area-Kros.KORM, area-Kros.KORM.MsAccess

#118 Deleted DbTypeAttribute class.
  Kros.KORM/src/Kros.KORM/Metadata/Attribute/DbTypeAttribute.cs
Labels: area-Kros.KORM

#123 Added SQL Server versions.
  Kros.Utils/src/Kros.Utils/Data/SqlServer/SqlConnectionExtensions.cs
  Kros.Utils/src/Kros.Utils/Data/SqlServer/SqlServerVersions.cs
Labels: area-Kros.Utils

#126 Updated links to documentation website.
  CONTRIBUTING.md
  Kros.KORM/README.md
  Kros.Utils/README.md
  README.md
Labels: documentation

#115 Enable primitive types to be inserted with BulkInsert
  Kros.Utils/src/Kros.Utils.MsAccess/Data/BulkActions/MsAccess/MsAccessBulkInsert.cs
  Kros.Utils/src/Kros.Utils/Data/BulkActions/EnumerableDataReader.cs
  Kros.Utils/tests/Kros.Utils.UnitTests/Data/BulkInsert/SqlServerBulkHelper.cs
  Kros.Utils/tests/Kros.Utils.UnitTests/Data/BulkInsert/SqlServerBulkInsertShould.cs
Labels: area-Kros.Utils

#129 Resolved markdown-lint errors.
  Kros.KORM/README.md
  Kros.Utils/README.md
Labels: documentation

#130 Main README has only link to contributing guidelines..
  README.md
Labels: documentation

#134 MsAccessTestHelper initialization opens connection.
  Kros.Utils/src/Kros.Utils.MsAccess/UnitTests/MsAccessTestHelper.cs
Labels: area-Kros.Utils

#131 Implementation of LINQ Skip() method
  Kros.KORM/src/Kros.KORM.MsAccess/Kros.KORM.MsAccess.csproj
  Kros.KORM/src/Kros.KORM.MsAccess/Query/Providers/MsAccessQueryProvider.cs
  Kros.KORM/src/Kros.KORM.MsAccess/Query/Providers/MsAccessQueryProviderFactory.cs
  Kros.KORM/src/Kros.KORM.MsAccess/Query/Sql/MsAccessSqlExpressionVisitorFactory.cs
  Kros.KORM/src/Kros.KORM/Materializer/ModelBuilder.cs
  Kros.KORM/src/Kros.KORM/Properties/Resources.Designer.cs
  Kros.KORM/src/Kros.KORM/Properties/Resources.resx
  Kros.KORM/src/Kros.KORM/Query/Providers/IDataReaderEnvelope.cs
  Kros.KORM/src/Kros.KORM/Query/Providers/LimitOffsetDataReader.cs
  Kros.KORM/src/Kros.KORM/Query/Providers/QueryProvider.cs
  Kros.KORM/src/Kros.KORM/Query/Providers/SqlServerQueryProvider.cs
  Kros.KORM/src/Kros.KORM/Query/Providers/SqlServerQueryProviderFactory.cs
  Kros.KORM/src/Kros.KORM/Query/Providers/SqlServerSqlExpressionVisitorFactory.cs
  Kros.KORM/src/Kros.KORM/Query/Sql/DefaultQuerySqlGenerator.cs
  Kros.KORM/src/Kros.KORM/Query/Sql/ISqlExpressionVisitor.cs
  Kros.KORM/src/Kros.KORM/Query/Sql/ISqlExpressionVisitorFactory.cs
  Kros.KORM/src/Kros.KORM/Query/Sql/QueryInfo.cs
  Kros.KORM/src/Kros.KORM/Query/Sql/SqlServer2008SqlGenerator.cs
  Kros.KORM/src/Kros.KORM/Query/Sql/SqlServer2012SqlGenerator.cs
  Kros.KORM/tests/Kros.KORM.MsAccess.UnitTests/Helpers.cs
  Kros.KORM/tests/Kros.KORM.MsAccess.UnitTests/Integration/DatabaseShould.cs
  Kros.KORM/tests/Kros.KORM.MsAccess.UnitTests/Kros.KORM.MsAccess.UnitTests.csproj
  Kros.KORM/tests/Kros.KORM.MsAccess.UnitTests/Query/Sql/LinqFunctionTranslatorShould.cs
  Kros.KORM/tests/Kros.KORM.MsAccess.UnitTests/Query/Sql/LinqStringFunctionMsAccessTranslator.cs
  Kros.KORM/tests/Kros.KORM.MsAccess.UnitTests/app.config
  Kros.KORM/tests/Kros.KORM.MsAccess.UnitTests/packages.config
  Kros.KORM/tests/Kros.KORM.UnitTests/Base/DatabaseTestBase.cs
  Kros.KORM/tests/Kros.KORM.UnitTests/CommandGenerator/CommandGeneratorShould.cs
  Kros.KORM/tests/Kros.KORM.UnitTests/Integration/DbSetShould.cs
  Kros.KORM/tests/Kros.KORM.UnitTests/Materializer/ModelBuilderShould.cs
  Kros.KORM/tests/Kros.KORM.UnitTests/Query/Providers/LimitOffsetDataReaderShould.cs
  Kros.KORM/tests/Kros.KORM.UnitTests/Query/Providers/QueryProviderFactoriesShould.cs
  Kros.KORM/tests/Kros.KORM.UnitTests/Query/Providers/QueryProviderShould.cs
  Kros.KORM/tests/Kros.KORM.UnitTests/Query/QueryShould.cs
  Kros.KORM/tests/Kros.KORM.UnitTests/Query/Sql/DefaultQuerySqlGeneratorShould.cs
  Kros.KORM/tests/Kros.KORM.UnitTests/Query/Sql/LinqBinaryOperatorTranslatorShould.cs
  Kros.KORM/tests/Kros.KORM.UnitTests/Query/Sql/LinqFunctionTranslatorShould.cs
  Kros.KORM/tests/Kros.KORM.UnitTests/Query/Sql/LinqProviderShould.cs
  Kros.KORM/tests/Kros.KORM.UnitTests/Query/Sql/LinqStringFunctionTranslatorShould.cs
  Kros.KORM/tests/Kros.KORM.UnitTests/Query/Sql/LinqTranslatorForSqlServer2008Should.cs
  Kros.KORM/tests/Kros.KORM.UnitTests/Query/Sql/LinqTranslatorForSqlServer2012Should.cs
  Kros.KORM/tests/Kros.KORM.UnitTests/Query/Sql/LinqTranslatorShould.cs
  Kros.KORM/tests/Kros.KORM.UnitTests/Query/Sql/LinqTranslatorTestBase.cs
  Kros.KORM/tests/Kros.KORM.UnitTests/Query/Sql/LinqUnaryOperatorTranslatorShould.cs
  Kros.KORM/tests/Kros.KORM.VB.UnitTests/Query/Sql/LinqFunctionTranslatorShould.vb
  Kros.KORM/tests/Kros.KORM.VB.UnitTests/Query/Sql/LinqProviderShould.vb
Labels: area-Kros.KORM

#136 Implemented IQueryProvider.SupportsPrepareCommand
  Kros.KORM/src/Kros.KORM.MsAccess/Query/Providers/MsAccessQueryProvider.cs
  Kros.KORM/src/Kros.KORM/Query/DbSet.cs
  Kros.KORM/src/Kros.KORM/Query/Providers/IQueryProvider.cs
  Kros.KORM/src/Kros.KORM/Query/Providers/QueryProvider.cs
  Kros.KORM/tests/Kros.KORM.MsAccess.UnitTests/Helpers.cs
  Kros.KORM/tests/Kros.KORM.MsAccess.UnitTests/Integration/DatabaseShould.cs
  Kros.KORM/tests/Kros.KORM.MsAccess.UnitTests/Integration/DbSetShould.cs
  Kros.KORM/tests/Kros.KORM.MsAccess.UnitTests/Kros.KORM.MsAccess.UnitTests.csproj
  Kros.KORM/tests/Kros.KORM.MsAccess.UnitTests/packages.config
  Kros.KORM/tests/Kros.KORM.UnitTests/Integration/DbSetShould.cs
  Kros.KORM/tests/Kros.KORM.UnitTests/Query/DbSetShould.cs
  Kros.KORM/tests/Kros.KORM.UnitTests/Query/Sql/LinqTranslatorTestBase.cs
Labels: area-Kros.KORM
